<br>

<div class="mb-4 ps-2">
  <h2 class="fw-bold d-flex align-items-center">
    <%= link_to request.referer, class: "text-decoration-none me-2" do %>
      <i class="fa-solid fa-arrow-left text-primary"></i>
    <% end %>

    Enviar Arquivo .eml
  </h2>
  <p class="text-muted mb-0">Selecione um arquivo para processar</p>
</div>

<%= form_with model: @arquivo_email,
              url: arquivos_emails_path,
              local: true,
              html: { multipart: true } do |f| %>

              <div class="mb-3">
                <%= f.label :arquivo_email, "Arquivo .eml" %>
                <%= f.file_field :arquivo_email,
                      accept: ".eml",
                      class: "form-control" %>
              </div>
              

  <%= f.submit "Enviar", class: "btn btn-primary" %>
<% end %>
